extends layout

block content

	div.container
		h1 Countries

		div
			form#search-form(action='/searchClick',type='submit')
				input#search-name(name='country-name',type='text',placeholder='Country to Search For')
				button#search-btn(name='goSearch') Search

		div
			button#btnLoad(name='button') Load Countries

		div.country-list

			ul#indiv-list
			//- 	for country in countries
			//- 		li strong=country.name
