extends layout

block content

	div.container
		h1 Countries

		div
			form#search-form(action='/searchClick',type='submit')
				input#search-name(name='country-name',type='text',placeholder='Country to Search For')
				button#search-btn(name='goSearch') Search

		div
			button#btn-load(name='button') Load Countries

		div.country-list
			h3#searched-countries Your Country Stats:
			ul#indiv-list

		div.big-country-list
			h3 Big List of Countries:
			div.bs-glyphicons
				

